{% extends 'layouts/index.html' %}

{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'detail.css' %}">
{% endblock %}

{% block content %}
    <div class="post_block">
        <div class="image">
            {% if product.image %}
                <img src="/media{{ product.image }}/" alt="">
            {% else %}
                <img src="{% static 'img.png' %}" alt="">
            {% endif %}
        </div>
        <div class="info">
            <h1>{{ product.product_name }}</h1>
            <h4>{{ product.description }}</h4>
            <h4>Rate: {{ product.price }}</h4>
            <div class="dates">
                <p>{{ product.created_date }}</p>
                <p>{{ product.modified_date }}</p>
            </div>
        </div>
    {% if not user.is_anonymous %}
         <div class="create_review">
            <form action="/products/{{ product.id }}/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Add review">
            </form>
        </div>
    {% endif %} 



        <div class="comments">
            {% for review in reviews %}
                <div class="comment_block">
                    <h5>{{ review.text }}</h5>
                </div>
            
            {% endfor %}
            
        </div>

        </div>
    </div>
{% endblock %}